/* Page */

html {
  box-sizing: border-box;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Fira code", "Fira Mono", Consolas, Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* App */

.container {
  display: flex;
  height: calc(100% - 50px);
  width: 100%;
  position: relative;
  margin-top: 50px;
}

.tool-bar {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 1;
  background-color: #272d30;
  box-shadow: 3px 1px 5px #181c1d;
}

.tool-bar span {
  color: white;
  font-size: 16px;
}

.logo-container {
  flex: 2;
}

.logo {
  padding-left: 10px;
  color: #fdfdfd;
  text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975;
}

span .emoji {
  padding-right: 6px;
  display: inline-flex;
}

.logo span.emoji {
  padding: 0;
}


.tabs {
  margin-left: auto;
  flex: 1;
  border-left: solid 1px #181c1d;
  height: 100%;
  display: flex;
}

.tab {
  padding-left: 12px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 12px;
  box-sizing: border-box;
  width: 150px;
  justify-content: center;
}

.tab.active {
  border-bottom: solid #03edf975 2px;
  color: #fdfdfd;
  background: #202628;
  text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975;
}

.tab.active .emoji {
  text-shadow: none;
}

.tab:hover {
  background-color: #3c4548;
  cursor: pointer;
}

.editor-container {
  flex: 2;
  height: 100%;
  position: relative;
}

.container__editor {
  font-size: 14px;
  font-variant-ligatures: common-ligatures;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #2a2139 75%, #34294f);
  flex: 2;
  height: 100%;
  color: #fdfdfd;
  overflow-y: scroll !important;
}

.container__editor textarea {
  outline: 0;
  /* TODO: fix this so it isn't hacky */
  height: 400% !important;
}

.button {
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  background-color: #3f51b5;
  z-index: 1;
  color: #fff;
  position: absolute;
  top: 24px;
  right: 24px;
}

.switch-container{
  padding-bottom: 20px;
  justify-content: center;
  display: flex;
}

.button-switch {
  padding: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  background-color: rgba(255,255,255,0.1);
  z-index: 1;
  color: #fff;
  font-size: 20pt;
}

.button-switch:hover{
  background-color: rgba(255,255,255,0.2);
}

.button-switch:active{
  background-color: rgba(255,255,255,0.25);
}

.button.disabled {
  background-color: grey;
  pointer-events: none;
}

.button:hover {
  background: linear-gradient(45deg, #e42b66, #e2433f);
  cursor: default;
}

.error_msg {
  color: firebrick;
  font-weight: 600;
}

.terminal {
  display: flex;
  flex-direction: column;
  flex: 1
}

.visualizer {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex: 1;
}

.docs-container {
  flex: 1;
  height: 100%;
  border-left: solid 1px #dadce0;
  background: #bbbbbb;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.docs {
  padding: 0 12px;
}

.output {
  flex: 1;
  height: 100%;
  border-left: solid 1px #dadce0;
  background: #1c2022;
  color: #bbbbbb;
  display: flex;
  flex-direction: column;
}

.output span {
  margin: 3px 12px;
}

.output span:first-of-type {
  margin: 6px 12px 3px 12px;
}

.MIDISounds {
  display: none;
}
